/* место для вашего кода */


/* начало header */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
}

.header__menu {
  font-size: 18px;
  font-weight: 400;
}

.header__links-list {
  display: flex;
  gap: 32px;
  text-underline-offset: 4px;
  padding: 0;
  text-wrap: nowrap;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item {
  list-style: circle;
  position: relative;
  list-style-position: outside;
}

.header__logo {
  justify-self: center;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  max-height: 100%;
}

/* вставка адреса для повтора в footer */
.address {
  width: 240px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  text-underline-offset: 4px;
}

.header__address {
  justify-self: end;
}

/* конец header */

/* начало cover */
.cover {
  background-image: url('../images/cover.jpg');
  background-size: cover;
  min-height: 757px;
  width: 100%;
  position: relative;
  z-index:0;
  inset: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: black;
  opacity: 0.6;

}

.cover__content {
  color: #fff;
  position: relative;
  inset: 0;
  z-index: 2;
  padding: 165px 50px 50px;
}

.cover__title {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 0.3em;
}

.aligned-text {
  display: block;
}

.aligned-text_left,
.aligned-text_center {
  margin-bottom: 20px;
}

.aligned-text_left {
 text-align: start;
}

.aligned-text_center {
 text-align: center;
 margin-left: 30px;
}

.aligned-text_right {
 text-align: end;
}

.aligned-text_right_letter {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 106px;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
  color: #fff;
}

.bet-button {
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 12px 32px;
}
/* конец cover */

/* начало lots */
.lots {
  list-style-type: none;
  margin: 180px 24px 120px 24px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 27px;
  margin-left: 40px;
}

.lots__card-list-item {
  min-height: 596px;
  width: 334px;
  list-style-type: none;
}

.lots__card-list {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 30px;
  }

.card__link {
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  inset: 0;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card__title {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  z-index: 2;
  text-transform: uppercase;
  text-decoration: underline;
  padding: 48px 40px 0 40px;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  text-decoration-color: #fff;
}

.card__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  color: #fff;
  padding: 0 40px 48px 40px;
  z-index: 2;
  text-decoration: none;
}

.card__type_film {
  background-image: url('../images/card-lot-01.jpg');
}

.card__type_book {
  background-image: url('../images/card-lot-02.jpg');
}
.card__type_picture {
  background-image: url('../images/card-lot-03.jpg');
}

.lots__look-more-link {
  font-weight: 200;
  font-size: 20px;
  color:#000;
  text-decoration: underline;
  text-underline-offset: 5px;
  padding: 30px 40px;
}
/* конец lots */

/* начало about */
.about {
  margin-bottom: 180px;
  margin-top: 120px;
}

.about__column {
  display: grid;
  grid-template-columns: 334px auto;
  gap: 24px;
  align-items: start;
  justify-items: center;
  padding-left: 24px;
  padding-right: 24px;
}

.about__logo {
  background-color: #000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.15;
  padding-bottom: 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  gap: 24px;
}

.about__text-content {
  width: 712px;
  padding-top: 135px;
  padding-right: 24px;
}
/* конец about */

/* начало footer */
.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
  padding: 0 50px 0 50px;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-link_active,
.footer__menu-link {
  font-size: 18px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  list-style: none;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
/* конец footer */